.parcel-cache
node_modules/
.DS_Store
dist

# Public directory auto built files from development
public/style.css

# .build directory is where Architech transpiles our lambdas using esbuild
.build
preferences.arc

# File built with 'arc deploy --dry-run'
sam.json

# File built with 'arc deploy' that gets uploaded to CloudFormation
sam.yaml

# Seeded database file for working locally with fake data
sandbox-seed.json